@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

$widgetRadius: 2px;

.anchor-bar {
	position: sticky;
	top: 32px;
	overflow: hidden;
	// left: 900px;


	@extend %IEBox;
	margin-bottom: 32px;
	float: right;
	width: 315px;
	padding: 20px 20px;
	text-align: center;
	border-radius: $widgetRadius;
	background: #fff;

	a {
		@include transition();

		&:hover {
			color: #000;
		}

	}

	
	ul {
		list-style-type: none;
		text-align: left;
		font-size: 13px;
		padding-left: 10px;

		li {
			margin: 4px 0;
		}
		
		& > ul {
			list-style-type: circle;
			padding-left: 25px;
		}

		a {
			cursor: pointer;
			transition: all 0.3s;
			border-bottom: 1px solid #fff;
			color: #333;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover {
				border-bottom-color: #000;
			}

			&.active {
				font-weight: bold;
				color: #000;
				border-bottom-color: #000;
			}
		}
	}

}

	

