@charset "utf-8";
@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

input, button, textarea {
	outline: none;
}


ul, ol {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}


$bgColor: #ededef;
body {

	@include transition();
	background-color: $bgColor;

	&.mylife {
		background: url('../img/life-bg.png') repeat;
	}

	&.book {
		// background: url('../img/book-bg.png') repeat #a1cbe1;
		background: url('../img/book-bg.png') repeat #ebc783;
	}

	&.archives {
		background-color: #fff;
	}

}

.clearfix {
	*zoom: 1;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.inner-wrapper {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

// 防止滚动条显隐导致内容跳动
@media screen and (min-width: 1210px) {
   .inner-wrapper {
       padding-left: calc(100vw - 100%);
   }
}

.shadow-1 {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
	border-radius: 2px;
}


.life-wrap {
	width: 620px;
	margin: 0 auto;
	padding-top: 20px;
}





/* icon */
.icon-github {
	@include bgsize(17px, 17px);
	@include bgimg('../img/icon-github.png');	
}

.icon-mail {
	@include bgsize(19px, 12px);
	@include bgimg('../img/icon-mail.png');	
}

.icon-disc {
	@include bgsize(4px, 4px);
	@include bgimg('../img/icon-disc.png');	
}

.icon-time {
	@include bgsize(14px, 14px);
	@include bgimg('../img/icon-time.png');	
}

.icon-update {
	@include bgsize(14px, 14px);
	@include bgimg('../img/icon-update.png');	
}

.icon-tag {
	@include bgsize(11px, 11px);
	@include bgimg('../img/icon-tag.png');	

	&.active {
		@include bgimg('../img/icon-tag-active.png');
	}
}

.icon-hot {
	@include bgimg('../img/icon-hot.png');	
}

.icon-comment {
	@include bgimg('../img/icon-comment.png');	
}

.icon-arleft {
	@include bgsize(10px, 19px);
	@include bgimg('../img/icon-arleft.png');	
}

.icon-arright {
	@include bgsize(10px, 19px);
	@include bgimg('../img/icon-arright.png');	
}










