@media screen and (min-width: 980px) {
  body {
    min-width: 1240px;
  }
}

@media screen and (max-width: 980px) {
  * {
    outline: none;
  }

  body {
		min-width: 300px;
  }
  
  .self-sidebar,
  .anchor-bar,
  .nav-bar {
    display: none;
  }

  .inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > span {
      max-width: 100%;
    }
  }

  .nav {
    height: 50px;
    margin-bottom: 0;

    .brand {
      margin-top: 12px;
      width: 300px;
      padding-top: 25px;
      background-size: auto 25px;
    }
  }

  .article-main {
    width: 100%;
    max-width: 100%;

    .content {
      padding: 10px 12px 10px;
    }
  }

  .atc-top {
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
      font-size: 20px;
      margin-bottom: 2px;
    }
  }

  .subtitle {
    &-publish-time {
      margin-right: 10px!important;

      .icon {
        display: none;
      }

    }

    &-update-time, .toComment {
      display: none!important;
    }
  }

  .atc-content {
    font-size: 13px;

    & > p {
      line-height: 20px;
      margin-bottom: 9px;
    }

    code {
      padding: 1px 0.3em;
      margin: 0 0.1em;
    }

    pre {
      width: 100%;
      max-width: 100%;
      font-size: 9px;
      margin-left: -12px;
      margin-bottom: 11px;
      padding: 16px 12px;
      
      code {
        line-height: 14px;
      }

    }

    blockquote {
      padding: 10px;
      margin: 15px 0;
    }

    h1 {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 0;
    }

    h2 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 6px;
    }

    h3 {
      margin-bottom: 0px;
      font-size: 13px;
      font-weight: bold;
    }

    ol,ul {
      margin: 5px 0;
      padding-left: 25px;

      li {
        line-height: 22px;
      }
    }

    ul  ol, ol  ul {
      padding-left: 16px;
    }

  }

  .atc-bottom {
    .tags {
      margin-bottom: 20px;
    }
    .tag {
      font-size: 12px;

      a {
        height: 20px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
      }
    }

    .page {
      display:flex;
      justify-content: space-between;
      padding: 20px 0;

      .icon {
        background-size: auto 10px!important;
        padding-top: 10px!important;
      }

      a {
        font-size: 12px;

        .text {
          max-width: 150px;
          overflow: hidden;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .icon-pageleft {
        margin-right: 5px!important;
      }

      .icon-pageright {
        margin-left: 5px!important;
      }

      .left, .right {
        float: none!important;
        display: lfex;
        align-items: center;
      }


    }
  }

  .comment-panel {
    padding: 10px 12px 10px;
    margin-bottom: 120px;
  }

  .comment-box {
    padding-top: 10px;

    .label {
      font-size: 13px;
      margin: 9px 0;
    }

    .form-text {
      font-size: 13px;

      &.msg {
        font-size: 13px;
        box-sizing: border-box;
      }
    }

    .remember {
      font-size: 13px;
    }

    .submit {
      font-size: 13px;
    }

  }

  .comment {
    padding: 10px 0.3em 0.3em!important;

    &:first-child {
      margin-top: 27px;
    }

    .cm-top {
      font-size: 12px;

      .quote {
        display: inline;
        margin-right: 10px;
      }

      .name {
        font-size: 13px;
        margin-right: 10px;
      }
    }

    .cm-content {
      padding: 5px 0;
      font-size: 13px;
    }
  }

  .home-blogs {
    width: 100%;
    max-width: 100%;
  }

  .blog-item {
    margin-bottom: 15px;
    padding: 10px 12px;

    &:first-child {
      margin-top: 15px;
    }

    .title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .subtitle {
      font-size: 10px;

      .icon {
        margin-right: 3px;
        width: 10px;
        padding-top: 10px;
        top: 0;
        background-size: auto 10px;
      }
    }

    .subtitle span {
      margin-right: 10px;
    }

    .summary {
      margin: 12px 0;
      font-size: 14px;
      line-height: 23px;
    }

    .details {
      font-size: 12px;

      .icon-tag {
        width: 10px;
        padding-top: 10px;
      }
    }
    
    .summation {
      padding-left: 15px;
      margin-top: 3px;
      float: none;

      span {
        margin-right: 10px;
      }

      a {
        float: right;
      }
    }


    .tags-list li {
      margin-right: 10px;
      font-size: 12px;
    }
  }

  .pagination {
    font-size: 12px;
    margin-bottom: 55px;

    a {
      height: 26px;
      line-height: 26px;
      padding: 0 10px;
      margin: 0 8px;
    }
  }

  /* 归档页 */
  .ar-nav {
    display:none;
  }

  .archives {
    .main {

      width: 100%;
      max-width: 100%;
    }

    .catogory-bar {
      float: none;
      width: 100%;
      max-width: 100%;

      .segment {
        display: none;
      }
    }
  }

  .ar-content {
    padding: 0 12px;
    margin-bottom: 50px;
  }


}