@charset "UTF-8";
body {
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #24292c; }
.sidebar .nav {
  padding-top: 30px;
  text-align: center; }
.sidebar .nav li {
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out; }
.sidebar .nav li:hover {
  background-color: rgba(255, 255, 255, 0.1); }
.sidebar .nav li.active {
  background-color: rgba(255, 255, 255, 0.25); }
.sidebar .nav li a {
  color: #fff;
  background: transparent; }

.main {
  margin-left: 200px;
  padding: 21px 30px 0;
  min-width: 1000px; }
.main .handleBtn {
  text-align: right;
  margin-bottom: 20px; }
.main .title {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 30px; }
.main .panel {
  display: none;
  box-shadow: none; }
.main .panel:after {
  content: '';
  display: table;
  clear: both; }
.main .panel.open {
  display: block; }
.main .panel label {
  display: block; }
.main .label-time {
  display: inline-block;
  margin-right: 10px; }
.main .edit-value {
  margin-right: 25px; }

.pub-cont {
  position: relative;
  width: 700px;
  float: left; }
.pub-cont input[type="submit"], .pub-cont #save-draft {
  width: 100%;
  margin-top: 20px; }
.pub-cont .switch {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100; }

input[type=file] {
  display: inline-block; }

.upload-photo {
  margin-top: 5px; }

.pre-cont {
  height: 100%;
  margin-left: 710px;
  padding-left: 10px;
  border-left: 1px solid #eee; }

iframe {
  width: 100%;
  height: 100%; }

.editor {
  word-break: break-all;
  line-height: 25px; }

#calHeight {
  font-size: 14px;
  line-height: 25px;
  padding: 6px 12px;
  width: 676px;
  position: absolute;
  left: 300%;
  top: 300%;
  z-index: -1000;
  visibility: hidden;
  white-space: pre-wrap; }

.form-group {
  position: relative; }
.form-group .select-list {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 5px 10px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style-type: none; }
.form-group .select-list li {
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #666;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out; }
.form-group .select-list li:hover {
  color: #5cb85c;
  border: 1px solid #5cb85c; }

.table {
  font-size: 12px; }
.table .no-record {
  text-align: center;
  color: #999; }

.cache-tip {
  visibility: hidden;
  color: #5cb85c; }
.cache-tip .emoji {
  margin-right: 5px; }
.cache-tip .cache-time {
  margin-right: 5px; }
.cache-tip.show {
  visibility: visible; }

/* 面板导航 */
.panel-btn {
  margin-bottom: 40px;
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding-left: 0; }
.panel-btn .navbar-collapse {
  padding-left: 0; }
.panel-btn .nav li.active a {
  background-color: #24292c;
  color: #fff; }
.panel-btn a {
  border-radius: 3px 3px 0 0;
  color: #24292c;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out; }

/* 页码 */
.paging {
  position: relative;
  float: right; }

.pageAcount {
  position: absolute;
  right: 105%;
  top: 25px;
  width: 4em;
  font-size: 14px;
  color: #999; }

.lastPage {
  cursor: pointer;
  color: #24292c; }

.lastPage:hover {
  text-decoration: underline; }

.pagination > li > a, .pagination > li > span {
  color: #24292c; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #24292c;
  border-color: #24292c; }

#modal-comment .modal-dialog, #modal-cate .modal-dialog, #modal-tag .modal-dialog {
  width: 1000px;
  font-size: 12px; }
#modal-comment .modal-body, #modal-cate .modal-body, #modal-tag .modal-body {
  min-height: 300px;
  max-height: 400px;
  overflow: auto; }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/*# sourceMappingURL=base.css.map */
